body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  padding: 24px;
  background: linear-gradient(117deg, #FFF 0%, #E8F7E9 100%);
}

div.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;
}

div.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  height: fit-content;
  width: fit-content;

  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
