/* Sidebar Container */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 40px 0px;
    width: 100%;
    height: fit-content;
}

/* Sidebar Option */
.sidebar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    padding: 0 24px;
    height: 48px;
    
    font-size: 16px;
    font-weight: 600;
    color: #2A7E3B;
    border: none;
    border-radius: 8px;
}

.sidebar-img {
    height: 24px;
    width: 24px;
}

.selected-tab {
    background-color: #E8F7E9;
}

.unselected-tab {
    background: none;
}

.unselected-tab:hover {
    cursor: pointer;
    background-color: #E8F7E9;
}